* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.signup-btn {
  background: none;
  border: none;
  color: rgb(0, 0, 0); /* or your link color */
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}
.nav {
  margin: 0;
  width: 100%;
}
.navdiv {
  margin-right: 30px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logotxt {
  font-size: 24px;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
}
.logotxt img {
  margin-right: 10px;
  height: 30px;
}
.navdiv a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
}
